# Webframework
Flask==3.1.2

# Umgebungsvariablen
python-dotenv==1.2.1

# Datenbank (SQLite ist in Python eingebaut, daher kein extra Paket nötig)
Flask-SQLAlchemy==3.1.1

# Webserver für Render
gunicorn==24.1.1

# Zahlungsintegration (Stripe)
stripe==14.3.0

# E-Mail Versand
sendgrid==6.12.5

# HTTP Requests
requests==2.32.5

psycopg2-binary==2.9.9




