
<footer>
 <!-- <div class="social-icons">
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>-->
  <p>© 2026 IBK | 
    <a href="{{ url_for('impressum') }}">Impressum</a> | 
    <a href="{{ url_for('rechtliches') }}">AGB</a> | 
    <a href="{{ url_for('datenschutz') }}">Datenschutz</a> | 
    <a href="{{ url_for('rechtliches') }}">Rechtliches</a> | 
    <a href="#">Services</a> | 
    <a href="{{ url_for('kontakt') }}">Kontakt</a>
  </p>
</footer>
