<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='ficon.png') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">


   <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
  <title>I B K - Buchhandlung für Illustration und Bilderbücher | Warenkorb </title>
</head>
<body style="max-width: 1800px">
  {% include 'navbar.html' %}
  <div id="navbar-placeholder"></div>

  <main style="margin-left: 100px; max-width: 2000px">
      
      <form method="POST" action="/add-gutschein">
    
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <!-- Preset Buttons -->
    <button type="submit" name="preset" value="10">10€</button>
    <button type="submit" name="preset" value="25">25€</button>
    <button type="submit" name="preset" value="50">50€</button>

    <!-- Freie Eingabe -->
    <input type="number" name="custom_amount" placeholder="Eigener Betrag" min="5" max="500">

    <button type="submit">In den Warenkorb</button>
</form>



   
  </main>

  {% include 'footer.html' %}

</body>
</html>
