<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='ficon.png') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">


   <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
  <title>I B K - Buchhandlung für Illustration und Bilderbücher | Warenkorb </title>
</head>
<body style="max-width: 1800px">
  {% include 'navbar.html' %}
  <div id="navbar-placeholder"></div>

  <main style="margin-left: 100px; max-width: 2000px">
      
       <h1>🎁 Gutschein kaufen</h1>

<form method="POST">
  <label>Betrag:</label>
  <select name="wert">
    <option value="10">0.01 €</option>
    <option value="25">25 €</option>
    <option value="50">50 €</option>
    <option value="100">100 €</option>
  </select>

  <label>E-Mail des Empfängers:</label>
  <input type="email" name="email" required>

  <button type="submit">Weiter zur Zahlung</button>
</form>

  {% include 'footer.html' %}

</body>
</html>
