<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Impressum | Der Blaue Reiter | Kunstvoll gestaltete Kinderbücher</title>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='product.css') }}" />
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>

  
</head>
<body>
  

  
<header>
    <a href="{{ url_for('index') }}" class="back-link">← Zurück zur Übersicht</a>

    <ul class="nav-links" id="nav-links">
      <li class="cart">
        <a href="{{ url_for('cart') }}">🛒 <span id="cart-count">0</span></a>
      </li>
    </ul>
</header>



  <div class="rechtliches">
    <h2>  Impressum: </h2>
    <p>
    
     Welt Blauer Reiter - Kinderbuchverlag<br>Blauer Weg 14<br>13403 Berlin<br>Deutschland<br>Vertreten durch:<br>Ani Antonyan<br>Telefon: +49 987 654321<br>E-Mail: kontakt@weltblauerreiter.de <br>Handelsregister: Amtsgericht Berlin, HRB 987654 <br>Umsatzsteuer-ID: DE98765432 
    </p>
     
  </div>




</body>
</html>
