<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Kontakt | I B K - Buchhandlung für Illustration und Bilderbücher </title>
  <link rel="icon" type="image/x-icon" href="logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>


</head>
<body>
  {% include 'navbar.html' %}

<div id="navbar-placeholder"></div>


  

   


 <section class="form" >
  <h2>Kontakt</h2>
   <p> I B K - Buchhandlung für Illustrationen und Bilderbücher <br>
    Meller Bogen 14<br>
    13403 Berlin<br>
    E-Mail: kontakt@ibk-bilderbuch.de<br>
    Telefon: +49(0)176/2116447<br></p>

  <h3> Senden Sie uns eine Nachricht! </h3><br> 

   
<form action="/submit" method="POST" class="kontakt-form">
  <label for="name">Name:
  <input type="text" id="name" name="name" required>
  </label>
  
  <label for="email">E-Mail:
  <input type="email" id="email" name="email" required>
  </label>

 
  <label for="nachricht">Nachricht: </label>
  <input id="nachricht" name="message" required></input><br>


  <button type="submit">Absenden</button>
</form>
 
</section>

  {% include 'footer.html' %}

</body>
</html>

 
