
<header>
  <div>
    <a href="{{ url_for('index') }}">
      <img class="logo" src="{{ url_for('static', filename='ibk.png') }}" alt="Logo">
    </a>
  </div>




  <nav id="navbar">

  <!-- Hamburger -->
  <div class="menu-toggle" onclick="toggleMenu()">
    <i class="fas fa-bars"></i>
  </div>

  <!-- Dropdown Menu -->
  <ul class="nav-links" id="nav-links">
   <li class="close-btn" onclick="toggleMenu()">✕</li>
    <li>
      <a href="{{ url_for('index') }}#Jacominus_Gainsborough">Bücher</a>
    </li>
    <li>
      <a href="{{ url_for('suche') }}">🔍 Suche</a>
    </li>
    <li class="cart">
      <a href="{{ url_for('cart') }}"> Warenkorb 🛒 <span id="cart-count">0</span></a>
    </li>
  </ul>

</nav>

  
</header>
