

<style>
  
@media screen and (max-width: 600px) {
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }


  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
    padding: 10px;
  }
  .navbar.responsive  {
    float: right;
    height: 100%;
    display: block;
    width: 50%;
  }

}
.wrapper {
  padding-bottom: 150px;
}

.navbar a.icon {
  font-size: 36px;
  padding: 20px;
}


</style>
<header>
  <div class="site-title">
    <a href="index.html">
      <img class="logo" src="{{ url_for('static', filename='LogoKinderbuchverlag.png') }}" alt="Logo">
    </a>
  </div>

  <nav id="navbar">
    <!-- Hamburger Icon -->

<!--  <div class="hamburger-menu">
      <i class="fas fa-bars"></i>
    </div>
    <div class="close-menu hide">
      <i class="fas fa-times"></i>
    </div>-->

    <!-- Nav Links -->
    <ul class="nav-links" id="nav-links">
      <li class="dropdown" onclick="toggleDropdown(this)">
        <a href="#">Über uns <i class="fas fa-caret-down"></i></a>
        <ul class="dropdown-content">
          <li><a href="Team.html">AutorInnen</a></li>
          <li><a href="{{ url_for('team') }}">Übersetzerinnen</a></li>
          <li><a href="{{ url_for('vision') }}">Unsere Vision</a></li>
          <li><a href="{{ url_for('presse') }}">Presse</a></li>
        </ul>
      </li>
      <li><a href="{{ url_for('kontakt') }}">Kontakt</a></li>
      <li class="cart">
        <a href="{{ url_for('cart') }}">🛒 <span id="cart-count">0</span></a>
      </li>
    </ul>
  </nav>
</header>

<script type="text/javascript">


 document.addEventListener("DOMContentLoaded", function () {
  const header = document.querySelector(".nav-links");
  const footer = document.querySelector("#contact");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        header.style.display = "none";
      } else {
        header.style.display = "block";
      }
    });
  }, { threshold: 0 });

  if (footer) {
    observer.observe(footer);
  }
});


function myFunction() {
  var x = document.getElementById("nav-links");
  if (x.className === "nav-links") {
    x.className += " responsive";
  } else {
    x.className = "nav-links";
  }
}

function myFunction() {
  var x = document.getElementById("nav-links");
  var icon = document.getElementById("navToggle");

  if (x.className === "nav-links") {
    x.className += " responsive";
    icon.innerHTML = "&#10006;"; // Unicode für "X"
  } else {
    x.className = "nav-links";
    icon.innerHTML = "&#9776;"; // Unicode für Burger-Menü
  }
}//

</script>
<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
